<% provide(:title, @user.email) %>
<% spotify_user = RSpotify::User.new(session[:hash]) %>

<h1>
  <%= session[:hash]['display_name'] %>
</h1>
<h2>
  <%= "Your Twilio Number: #{@user.phone}" %>
</h2>

<% provide(:title, @user.email) %>
<div class="row">


  <div class="col-md-6">
    <h3>
      Playlists (<%= @user.playlists.count %>)
      <%= link_to "Create Playlist", playlists_create_path %>

    </h3>
    <% if @user.playlists.any? %>
      <ul class="microposts">
        <%= render @user.playlists %>
      </ul>
    <% end %>
  </div>

  <div class="col-md-6">
    <%  @user.playlists.find_by(is_active: true) %>
    <% if @user.playlists.find_by(is_active: true) %>
      <h1>
        <%= link_to "add track", tracks_create_path %>
      </h1>
      <% @track.each do |k| %>
        <li><%= "#{k.song} - #{k.artist}" %> </li>
      <% end %>
    <% end %>
  </div>
</div>
